* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
#form-container {
  max-width: 1240px;
  height: 1036px;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
#form-title {
  color: white;
  font-family: "Bowlby One SC", cursive;
  font-size: 3.1rem;
  letter-spacing: 0.05em;
}
span {
  color: red;
}
#form-description {
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1.4rem;
  /*responsive web olmasi icin "rem" kullanilir */
}
#form-header {
  text-align: center;
}
#survey-form-container {
  max-width: 500px;
  height: 897px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 10px;
}
#survey-form {
    max-width: 460px;
    height: 800px;
    margin: auto;
    font-size: 1rem;
    background-color: yellowgreen;

}
